<div class="container">
    <h2>Facility Booking</h2>
    <div class="form">
    <div class="form-group">
      <label for="venue">Select Venue:</label>
      <select class="custom-select" id="venue" [(ngModel)]="selectedVenue" (change)="onVenueChange()" name="selectedVenue" [ngModelOptions]="{ standalone: true }"
      (change)="handleOptionSelectedVenue($event)">
        <option value="">Select Venue</option>
        <option *ngFor="let venue of venues" [value]="venue">{{ venue }}</option>
      </select>
    </div>
  
    <div class="form-group" [hidden]="!selectedVenue">
      <label for="court">Select Sports / Facilities:</label>
      <select class="custom-select" id="court" [(ngModel)]="selectedCourt" (change)="onCourtChange()" (change)="handleOptionSelected($event)" name="court">
        <option value="">Select Facilities</option>
        <option class="custom-select"  *ngFor="let amenity of availableAmenities" [value]="amenity.amenitiesCode">{{ amenity.amenitiesName }}</option>
       
      </select>
    </div>
    <div class="form-group" *ngIf="selectedVenue">
  
      <!-- <select id="venue" [(ngModel)]="selectedVenue" (change)="onVenueChange()"> 
        <option value="">Availibility Of Amenities</option>-->
       <!-- <option *ngFor="let amenity of availableAmenities">{{ amenity.amenitiesName }}: {{ amenity.amenitiesCode }} </option>
       -->
       
            
      </div>
    <div class="form-group" [hidden]="!selectedVenue">
      <label for="date">Select Date:</label>
      <input type="date" id="date" [(ngModel)]="selectedDate" [min]="minDate" [max]="maxDate" [disabled]="disableDate"
      (change)="handleOptionSelectedDate($event)" (change)="resetAvailableCount()"
      >
    </div>
   <form (ngSubmit)="checkAvailibility()">
    <div class="form-group" [hidden]="!selectedVenue">
      <br 
      *ngIf="selectedVenue && selectedCourt && selectedDate && currentAvailableCount <= 0"> <button> Availibility    </button>
   </div>
<form (ngSubmit)="bookVenue()">
  <p>
    
  <div class="form-group" [hidden]="!selectedVenue">
    <button class="btn btn-primary" *ngIf="currentAvailableCount > 0 && selectedVenue && selectedCourt && selectedDate" (click)="bookVenue()" (click)="resetAvailableCount()">
      Book
    </button>
  </div>
    <div class="error-message"  [hidden]="!selectedVenue" *ngIf=" currentAvailableCount <= 0 && errorMessage && selectedVenue && selectedCourt && selectedDate  " >{{ errorMessage }}</div>
    <div class="success-message"  [hidden]="!selectedVenue" *ngIf="currentAvailableCount > 0 && successMessage && selectedVenue && selectedCourt && selectedDate  ">{{ successMessage }}</div>
     <div class="success-message" *ngIf="bookingSuccessful  "  [hidden]="!selectedVenue">{{ successMessage1 }}</div>
    

  
  
  
  
  
 
  
   <!--<p *ngIf="selectedVenue && selectedCourt">Available Courts: /p> -->

  
 
<!-- <div class="form">
  <table >
    <thead>
      <tr>
        <th>Amenity Name</th>
        <th>Amenity Code</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let amenity of availableAmenities">
        <td>{{ amenity.amenitiesName }}</td>
        <td>{{ amenity.amenitiesCode }}</td>
      </tr>
    </tbody>
  </table>
  </div>
-->